example-files/Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCourseDetailsRequest" type="GetCourseDetailsRequestType">
    <xs:annotation>
      <xs:documentation> number only. How to validate it if i type letters instead of numbers? </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetCourseDetailsRequestType">
    <xs:sequence>
      <xs:element type="xs:integer" name="id"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="xmnls"/>
  </xs:complexType>
</xs:schema>