example-files/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCourseDetailsResponse" type="GetCourseDetailsResponseType"/>
  <xs:complexType name="CouseDetailsType">
    <xs:sequence>
      <xs:element type="xs:integer" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCourseDetailsResponseType">
    <xs:sequence>
      <xs:element type="CouseDetailsType" name="CouseDetails"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="xmnls"/>
  </xs:complexType>
</xs:schema>